*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;
}

button {
    font-size: 20px;
    letter-spacing: 1px;
    width: 100px;
    background:violet;
    border-color: gold;
}


.circle {
    height: 100%;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    margin: 0 auto;
    background: rgba(5, 55, 255, 0.1);
    backdrop-filter: blur(40px);
    border: 2px solid rgba(25, 5, 25, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

/* @keyframes bounce {
    0%{
        transform: translateY(0px);
    }
     25%{
        transform: translateY(10px);
    }
     50%{
        transform: translateY(0px);
    }
     75%{
        transform: translateY(-10px);
    }
     100%{
        transform: translateY(0px);
    }
} */

.rotate1 {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border-top: 5px solid red;
    border-bottom: 5px solid burlywood;
    animation: round 1s linear infinite;
    /* animation: bounce 1s linear infinite; */
    background: orange;
    z-index: 1;
}


@keyframes round {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}


.stand {
    display: inline block;
    height: 15rem;
    width: 1em;
    width: 0 auto;
    background-color: white;
    position: absolute;
    margin: 0 auto;
    top: 22rem;
    border-radius: 0 0 20px 20px;
}


.random-btn {
    display: flex;
    position: fixed;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}